@font-face { font-family: Monohipster;
src: url('MONOHIPSTER.OTF'); }
h1 {
  font-family: Monohipster;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 95px;
}

@font-face { font-family: Roboto;
  src: url('ROBOTO-THIN.TTF'); }
h2 {
  font-family: Roboto;
  color: white;
  font-size: 18px;
  text-align: center;
}

h3 {
  color: #343d46;
}
/*-----------------------------------------------------------------------------*/
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.container h1 {
    color: white;
}

body{
  background-image: url("http://www.gannett-cdn.com/-mm-/662cbe47ac484443380c1853ae6db85a9ebc0d33/c=0-292-5616-3459/local/-/media/USATODAY/GenericImages/2013/12/31//1388507273000-Downtown-Miami-Skyline-Night-landscape-LS.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li a {
    display: block;
}

a { text-decoration: none; color:white; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
/*-----------------------------------------------------------------------------*/
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ABB2B9;
}
/*-----------------------------------------------------------------------------*/

.sign-log {
  background-color: transparent;
  color: #5d6d7e;
  position: absolute;
  top: -1%;
  right: 0;
  padding: 16px;
}

.pure-button {
  background-color: transparent;
  color: #5d6d7e;
  padding: 2px 6px 3px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border: none;
}

.sign-log-content a:hover {
  background-color: #343d46;

}

/*-----------------------------------------------------------------------------*/
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;

}

div.centered {
  position: fixed;
 top: 50%;
 left: 50%;
 /* bring your own prefixes */
 transform: translate(-50%, -50%);
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder {
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
