form {
  width: 500px;
  margin: 50px auto;
}

.search {
  padding: 8px 15px;
  background: rgba(50, 50, 50, 0.2);
  border: 0px solid #5D6D7E;
}

.button {
  position: relative;
  padding: center;
  border: 2px solid #FF5733;
  background-color: ##ABB2B9;
  color: #ABB2B9;
}

.button:hover {
  background-color: #ABB2B9;
  color: #2ECC71;
}
